
<mat-card id="map-card">
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <mat-card-content id="map-controls-content">
    <mat-slide-toggle [checked]="pointsToggle" color="primary" class="custom-padding" (change)="togglePoints($event)">Earthquake Point</mat-slide-toggle>
    <mat-slide-toggle  [checked]="heatmapToggle"color="primary" class="custom-padding" (change)="toggleHeatmap($event)">Heatmap</mat-slide-toggle>
    <mat-slide-toggle  [checked]="byYearToggle" color="primary" class="custom-padding" (change)="toggleByYear($event)">Data By Year</mat-slide-toggle>
    <mat-slider *ngIf="byYearToggle == true" id="year-slider" class="custom-padding"  (change)="selectedYear($event)" min="{{minYear}}" max="{{maxYear}}" step="1" showTickMarks discrete [displayWith]="formatLabel">
      <input matSliderThumb>
    </mat-slider>
  </mat-card-content>
</mat-card>